In [1]:
import pandas as pd
import sqlite3

In [2]:
# make them data frames

unemployment_df = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2)

housing_df = pd.read_csv('data/raw/hpi_po_metro.csv')

In [ ]:
# dropping NA rows in unemployment_df

unemployment_df = unemployment_df.dropna(axis=1)

cbsa          0
metro_name    0
yr            0
qtr           0
index_nsa     0
index_sa      0
dtype: int64