In [1]:
import pandas as pd
import sqlite3

In [2]:
# make them data frames

unemployment_df = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2)

housing_df = pd.read_csv('data/raw/hpi_po_metro.csv')

In [ ]:
# dropping NA rows in unemployment_df

unemployment_df = unemployment_df.dropna(axis=1)

cbsa          0
metro_name    0
yr            0
qtr           0
index_nsa     0
index_sa      0
dtype: int64

In [11]:
import sqlite3
import pandas as pd

# create the database
connection = sqlite3.connect("database.db")

# import files
housing_value = pd.read_csv('data/raw/hpi_po_metro.csv')

unemployment = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2)

# clean unemployment
unemployment = unemployment.dropna(axis=1)
print(unemployment.info())
print(housing_value.info())

# create the tables in the database


unemployment.to_sql("unemployment", connection, if_exists="replace", index=False)
housing_value.to_sql("housing_value", connection, if_exists="replace", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168210 entries, 0 to 168209
Empty DataFrame
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13800 entries, 0 to 13799
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cbsa        13800 non-null  int64
 1   metro_name  13800 non-null  object
 2   yr          13800 non-null  int64
 3   qtr         13800 non-null  int64
 4   index_nsa   13800 non-null  float64
 5   index_sa    13800 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 647.0+ KB
None

OperationalError: near ")": syntax error